@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
.medium_text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.46;
  letter-spacing: 5px; }

@media screen and (max-width: 1200px) {
  .medium_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.64;
    letter-spacing: 5px; } }
@media screen and (max-width: 992px) {
  .medium_text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.64;
    letter-spacing: 4px; } }
.button_text {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 12px;
  vertical-align: middle; }

@media screen and (max-width: 1200px) {
  .button_text {
    font-size: 14.4px;
    letter-spacing: 8.8px; } }
@media screen and (max-width: 992px) {
  .button_text {
    font-size: 14px;
    letter-spacing: 8.4px; } }
.button_text:hover {
  letter-spacing: 18px;
  transition: all 0.5s ease-in; }

.fcb_text:hover {
  letter-spacing: 11px !important;
  transition: all 0.5s ease-in !important; }

.menu_text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 6.4px;
  text-align: left;
  color: #575757;
  line-height: 2.5; }

@media screen and (max-width: 1200px) {
  .menu_text {
    font-size: 16px;
    letter-spacing: 5.7px;
    line-height: 2; } }
@media screen and (max-width: 992px) {
  .menu_text {
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 1.5; } }
.title {
  font-size: 10vh;
  font-weight: 200;
  letter-spacing: 8.5px;
  text-align: left;
  color: #575757; }

@media screen and (max-width: 1200px) {
  .title {
    font-size: 10vh;
    letter-spacing: 8.6px; } }
@media screen and (max-width: 768px) {
  .title {
    font-size: 60px;
    letter-spacing: 8.7px; } }
.newstext {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: left;
  color: #000000;
  margin-bottom: 15%;
  margin-top: 5%; }

@media screen and (max-width: 1200px) {
  .newstext {
    font-size: 16px;
    letter-spacing: 4px; } }
.discription_text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 6px;
  text-align: justify; }

@media screen and (max-width: 1200px) {
  .discription_text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 3.1px; } }
@media screen and (max-width: 992px) {
  .discription_text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 2.1px; } }
.about_titles_text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.9px;
  text-align: left;
  color: #020202;
  margin-top: 2%; }

@media screen and (max-width: 1200px) {
  .about_titles_text {
    font-size: 18px;
    letter-spacing: 0.8px; } }
@media screen and (max-width: 992px) {
  .about_titles_text {
    font-size: 13px;
    letter-spacing: 0.7px; } }
.about_discriptions_text {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.3;
  letter-spacing: 2.7px;
  text-align: left;
  color: #000000;
  margin-top: 3%; }

@media screen and (max-width: 1200px) {
  .about_discriptions_text {
    font-size: 16px;
    line-height: 1.08;
    letter-spacing: 2.4px; } }
@media screen and (max-width: 992px) {
  .about_discriptions_text {
    font-size: 13px;
    line-height: 1;
    letter-spacing: 2px; } }
.little_title_text {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 8.5px; }

.contacts_text {
  font-size: 3vh;
  font-weight: 200;
  line-height: 5vh;
  letter-spacing: 10px;
  text-align: left; }

.repertuar {
  font-size: 2.5vh;
  font-weight: 200;
  letter-spacing: 11.4px;
  text-align: center;
  margin-right: 5%; }

.repertuar:hover {
  text-transform: uppercase;
  transition: all 0.2s ease-in; }

.name_title {
  font-size: 3vh; }

@media screen and (max-width: 1200px) {
  .name_title {
    font-size: 3vh; } }
@media screen and (max-width: 992px) {
  .name_title {
    font-size: 3vh; } }
.instruments_title {
  font-size: 2.3vh; }

@media screen and (max-width: 1200px) {
  .instruments_title {
    font-size: 2.6vh; } }
@media screen and (max-width: 992px) {
  .instruments_title {
    font-size: 2.6vh; } }
.member_discription {
  font-size: 2vh; }

@media screen and (max-width: 1200px) {
  .member_discription {
    font-size: 2.3vh; } }
@media screen and (max-width: 992px) {
  .member_discription {
    font-size: 2.3vh; } }
.firstpage_row1 {
  height: 62.82%; }

.logo_row {
  height: 50.21%; }

.firstpage_row2 {
  height: 37.18%; }

.col-logo {
  height: 45.8%; }

.div_photo_band {
  height: 54.2%;
  text-align: right; }

@media screen and (max-width: 1200px) {
  .div_menu_smallscreens {
    position: relative;
    display: inline-block;
    margin: -5em 0 0% !important; } }
.secondpage_row1 {
  height: 19.72%; }

.secondpage_row2 {
  height: 17.98%; }

.secondpage_row3 {
  height: 28.86%; }

.secondpage_row4 {
  height: 8.68%; }

.thirdpage_row1 {
  height: 16.74%; }

.thirdpage_row2 {
  height: 37.1%;
  margin-top: 1.92%;
  position: relative; }

.thirdpage_row3 {
  height: 28.21%;
  margin-top: 6.92%;
  position: relative; }

.fourpage_row1 {
  height: 16.74%; }

.fourpage_row2 {
  height: 80%;
  margin-top: 1.92%; }

.thirdpage_row3 {
  height: 28.21%;
  margin-top: 6.92%; }

.fivepage_row1 {
  height: 16.74%; }

.fivepage_row2 {
  height: 80%; }

.fivepage_row3 {
  height: 65.4%;
  margin-top: 3.92%; }

.div_title {
  height: 100%; }

.sixpage_row1 {
  height: 10.74%; }

.sixpage_row2 {
  height: 10%; }

.sixpage_row3 {
  height: 75.4%; }

.page7_row1 {
  height: 10.74%; }

.page7_row2 {
  height: 80.4%; }

.page8_row1 {
  height: 16.74%; }

.page8_row2 {
  height: 12%; }

.page8_row3 {
  height: 5.4%; }

.page8_row4 {
  height: 20.4%; }

.page8_row5 {
  height: 5.4%; }

.page8_row6 {
  height: 25.4%; }

.about_row1 {
  height: 20%; }

.about_row2 {
  height: 18%; }

.about_row3 {
  height: 40%; }

.line_logo {
  margin-left: 109px;
  margin-top: 19%; }

@media screen and (max-width: 1200px) {
  .line_logo {
    margin-left: 155px;
    margin-top: 19%; } }
@media screen and (max-width: 992px) {
  .line_logo {
    margin-left: 94px;
    margin-top: 60px; } }
@media screen and (max-width: 768px) {
  .line_logo {
    margin-left: 110px;
    margin-top: 35px; } }
@media screen and (max-width: 576px) {
  .line_logo {
    margin-left: 110px;
    margin-top: 60px; } }
.line {
  width: 57px;
  height: 3px;
  border: solid 2px #575757; }

@media screen and (max-width: 992px) {
  .line {
    width: 48px; } }
.line2 {
  width: 57px;
  height: 3px;
  border: solid 2px #575757;
  margin-left: 45%;
  margin-top: 8%; }

.linevertical {
  width: 0.8px;
  height: 42.1px;
  border: solid 1.5px #000000;
  margin-left: 35px;
  margin-top: 55px; }

.fader {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  transition: 2s; }

.hidden-menu {
  display: block;
  position: fixed;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 400px;
  background-color: white;
  height: 100%;
  top: 0;
  right: -400px;
  transition: 0.7s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 1100; }

.hidden-menu-ticker {
  display: none;
  right: 200;
  z-index: 1100; }

.btn-menu {
  color: black;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  top: 5%;
  right: 5%;
  margin-right: 10%;
  cursor: pointer;
  transition: 0.23s;
  z-index: 3;
  width: 40px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 1110; }

.btn-menu span {
  display: block;
  height: 5px;
  background-color: black;
  margin: 5px 0 0;
  transition: all 0.2s linear 0.23s;
  position: relative; }

.btn-menu span.first {
  margin-top: 0; }

.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0; }

.hidden-menu-ticker:checked ~ .fader {
  display: block;
  background: #010101;
  transition: 2s;
  z-index: 100; }

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px; }

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px; }

.text-menu {
  font-size: 100px;
  font-weight: 200;
  letter-spacing: 8.5px;
  text-align: right;
  color: #575757; }

.menu {
  margin-top: 18%;
  margin-left: 34px; }

@media screen and (max-width: 1200px) {
  .menu {
    margin-top: 3%;
    margin-left: 17%; } }
@media screen and (max-width: 992px) {
  .menu {
    margin-top: 0%;
    margin-left: 17%; } }
@media screen and (max-width: 768px) {
  .menu {
    margin-top: 28px;
    margin-left: 41px; } }
.menu2 {
  margin-top: 18%;
  margin-left: 1%; }

@media screen and (max-width: 1200px) {
  .menu2 {
    margin-top: 3%;
    margin-left: 17%; } }
@media screen and (max-width: 992px) {
  .menu2 {
    margin-top: 0%;
    margin-left: 17%; } }
@media screen and (max-width: 768px) {
  .menu2 {
    margin-top: 0%;
    margin-left: 46px; } }
.members1 {
  height: 50%;
  margin-top: 1%;
  visibility: visible;
  transition: all 0.3s ease-in; }

.members2 {
  height: 50%;
  margin-top: 1%;
  visibility: visible;
  transition: all 0.3s ease-in; }

.members3 {
  height: 50%;
  margin-top: 1%;
  visibility: visible;
  transition: all 0.3s ease-in; }

.members4 {
  height: 50%;
  margin-top: 1%;
  visibility: visible;
  transition: all 0.3s ease-in; }

.members5 {
  height: 50%;
  margin-top: 1%;
  visibility: visible;
  transition: all 0.3s ease-in; }

.members6 {
  height: 50%;
  margin-top: 1%;
  visibility: visible;
  transition: all 0.3s ease-in; }

.members:hover > .members1 {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members:hover > .members2 {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members:hover > .members3 {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members:hover > .members4 {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members:hover > .members5 {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members:hover > .members6 {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members:hover > .members1:hover {
  opacity: 1;
  transition: all 0.3s ease-in; }

.members:hover > .members2:hover {
  opacity: 1;
  transition: all 0.3s ease-in; }

.members:hover > .members3:hover {
  opacity: 1;
  transition: all 0.3s ease-in; }

.members:hover > .members4:hover {
  opacity: 1;
  transition: all 0.3s ease-in; }

.members:hover > .members5:hover {
  opacity: 1;
  transition: all 0.3s ease-in; }

.members:hover > .members6:hover {
  opacity: 1;
  transition: all 0.3s ease-in; }

.hide_member_info {
  opacity: 1;
  transition: all 0.3s ease-in; }

.member1_discription {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  opacity: 0;
  z-index: -1; }

@media screen and (max-width: 1200px) {
  .member1_discription {
    width: 38%; } }
.members1:hover ~ .member1_discription {
  opacity: 1;
  top: 10%;
  transition: all 0.5s ease-in; }

.members1:hover > .hide_member_info {
  opacity: 0;
  transition: all 0.3s ease-in; }

.member2_discription {
  position: absolute;
  top: 64%;
  left: 22%;
  width: 30%;
  opacity: 0;
  z-index: -1; }

@media screen and (max-width: 1200px) {
  .member2_discription {
    top: 44%;
    left: 5%; } }
.members2:hover ~ .member2_discription {
  opacity: 1;
  top: 40%;
  transition: all 0.5s ease-in; }

@media screen and (max-width: 1200px) {
  .members2:hover ~ .member2_discription {
    top: 20%; } }
.members2:hover > .hide_member_info {
  opacity: 0;
  transition: all 0.3s ease-in; }

.member3_discription {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 30%;
  opacity: 0;
  z-index: -1; }

.members3:hover ~ .member3_discription {
  opacity: 1;
  top: 30%;
  transition: all 0.5s ease-in; }

.members3:hover > .hide_member_info {
  opacity: 0;
  transition: all 0.3s ease-in; }

.member4_discription {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 30%;
  opacity: 0;
  z-index: -1; }

@media screen and (max-width: 1200px) {
  .member4_discription {
    top: 0%; } }
.members4:hover ~ .member4_discription {
  opacity: 1;
  top: 30%;
  transition: all 0.5s ease-in; }

@media screen and (max-width: 1200px) {
  .members4:hover ~ .member4_discription {
    top: 20%; } }
.members4:hover > .hide_member_info {
  opacity: 0;
  transition: all 0.3s ease-in; }

.member5_discription {
  position: absolute;
  top: 8%;
  left: 0%;
  width: 30%;
  opacity: 0;
  z-index: -1; }

.members5:hover ~ .member5_discription {
  opacity: 1;
  top: 30%;
  transition: all 0.5s ease-in; }

.members5:hover > .hide_member_info {
  opacity: 0;
  transition: all 0.3s ease-in; }

.member6_discription {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 30%;
  opacity: 0;
  z-index: -1; }

.members6:hover ~ .member6_discription {
  opacity: 1;
  top: 30%;
  transition: all 0.5s ease-in; }

.members6:hover > .hide_member_info {
  opacity: 0;
  transition: all 0.3s ease-in; }

.members1-ticker {
  display: none;
  right: -200; }

.members1-ticker:checked ~ .members2 {
  opacity: 0 !important;
  display: none !important;
  display: block !important;
  visibility: hidden !important; }

/* Font Family ================================================== */
/* Global Styles ================================================== */
.music_body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 105%;
  font-family: "Oxygen", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.025rem;
  line-height: 1.618;
  padding: 1rem 0; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

/* Setup ================================================== */
.music_container {
  position: relative;
  margin: 0 auto;
  max-width: 945px;
  width: 100%;
  height: 100%; }

.music_column {
  width: inherit; }

/* Typography / Links ================================================== */
.music p {
  color: #000;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 2px; }

.music p a {
  line-height: inherit; }
  .music p a:visited {
    line-height: inherit; }

/* Misc. ================================================== */
.add-bottom {
  margin-bottom: 2rem !important; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

/* Audio Player Styles ================================================== */
audio {
  margin: 0 15px 0 14px;
  width: 810px; }

@media screen and (max-width: 1200px) {
  audio {
    width: 620px; } }
@media screen and (max-width: 992px) {
  audio {
    width: 420px; } }
#audiowrap,
#plwrap {
  margin: 0 auto; }

#tracks {
  position: relative;
  text-align: center; }

#nowPlay {
  display: inline; }

#npAction {
  padding: 21px;
  position: absolute; }

#npTitle {
  padding: 21px; }

#plList li {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 21px 0; }

#plList li:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.plItem {
  position: relative; }

.plTitle {
  left: 50px;
  overflow: hidden;
  position: absolute;
  right: 65px;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap; }

.plNum {
  padding-left: 21px;
  width: 25px; }

.plLength {
  padding-left: 21px;
  position: absolute;
  right: 21px;
  top: 0; }

.plSel, .plSel:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: default !important; }

a[id^="btn"] {
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 35px;
  line-height: 0.8;
  margin: 0 20px 20px;
  padding: 5px 10px;
  text-decoration: none;
  transition: background 0.3s ease;
  width: 35px; }

a[id^="btn"]:last-child {
  margin-left: -4px; }

a[id^="btn"]:hover,
a[id^="btn"]:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff; }

a[id^="btn"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Plyr Overrides ================================================== */
.plyr--audio .plyr__controls {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 20px 20px 20px 13px;
  width: 100%; }

.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large {
  background: rgba(0, 0, 0, 0.1); }

.plyr__progress--played, .plyr__volume--display {
  color: rgba(0, 0, 0, 0.1); }

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
  background: rgba(0, 0, 0, 0.1); }

.plyr--audio .plyr__progress--buffer {
  color: rgba(0, 0, 0, 0.1); }

/* Media Queries ================================================== */
@media only screen and (max-width: 850px) {
  #nowPlay {
    display: none; } }
.move_text {
  transition: all 0.2s ease-in;
  cursor: pointer; }

.move_text:hover {
  letter-spacing: 15.4px;
  cursor: pointer;
  transition: all 0.2s ease-in; }

.move_left {
  position: relative !important;
  width: 100%;
  left: -250%;
  transition: all 1.2s ease-in; }

.move_left_slower {
  position: relative !important;
  width: 100%;
  left: -250%;
  transition: all 2s ease-in; }

.move_left_slowest {
  position: relative !important;
  width: 100%;
  left: -250%;
  transition: all 2.4s ease-in; }

.move_left_slow {
  position: relative !important;
  width: 100%;
  left: -250%;
  transition: all 1.6s ease-in; }

.move_left_fast {
  position: relative !important;
  width: 100%;
  left: -250%;
  transition: all 0.7s ease-in; }

.move_bottom {
  position: absolute !important;
  top: 750%;
  transition: all 2s ease-in; }

.move_bottom_slow {
  position: absolute !important;
  top: 750%;
  transition: all 2.4s ease-in; }

.move_bottom_fast {
  position: absolute !important;
  top: 750%;
  transition: all 1.6s ease-in; }

.move_bottom_faster {
  position: absolute !important;
  top: 750%;
  transition: all 1.2s ease-in; }

.move_right {
  position: relative !important;
  width: 100%;
  right: -250%;
  transition: all 1.2s ease-in; }

.move_right_slow {
  position: relative !important;
  width: 100%;
  right: -250%;
  transition: all 1.6s ease-in; }

.move_right_slower {
  position: relative !important;
  width: 100%;
  right: -250%;
  transition: all 2s ease-in; }

.move_right_slowest {
  position: relative !important;
  width: 100%;
  right: -250%;
  transition: all 2.4s ease-in; }

.move_right_fast {
  position: relative !important;
  width: 100%;
  right: -250%;
  transition: all 0.8s ease-in; }

.move_top {
  position: relative !important;
  width: 100%;
  top: -250%;
  transition: all 1.2s ease-in; }

#discription_text {
  transition: all 1.2s ease-in; }

#about_titles {
  transition: all 1.2s ease-in; }

.photo-band {
  max-height: 100%;
  max-width: 100%;
  align-items: right;
  align-items: top; }

@media screen and (max-width: 1200px) {
  .photo-band {
    max-height: 100%;
    margin-top: 0%; } }
@media screen and (max-width: 992px) {
  .photo-band {
    max-height: 100%; } }
@media screen and (max-width: 768px) {
  .photo-band {
    max-width: 100%;
    max-height: 85%;
    object-fit: cover;
    object-position: 0 30%; } }
.buben {
  height: 100%;
  object-fit: contain;
  bottom: 0; }

@media screen and (max-width: 1200px) {
  .buben {
    height: 100%; } }
@media screen and (max-width: 992px) {
  .buben {
    height: 100%; } }
@media screen and (max-width: 768px) {
  .buben {
    height: 100%; } }
.gallary_photo {
  max-height: 100%;
  max-width: 100%; }

.member_photo {
  max-height: 70% !important; }

.video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%; }

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.scroll {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden; }

.video-fader {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  transition: 2s; }

.thumb {
  height: 100%;
  position: relative;
  padding-bottom: 56.25%; }

.thumb img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1.2s;
  cursor: pointer; }

.thumb img:hover {
  transition: 2s;
  transform: scale(1.05, 1.05); }

.playlist_item {
  margin-top: 4%;
  height: 32%; }

.video_text {
  white-space: nowrap; }

.sprite_pause {
  background: url("img/videocontrols.svg") no-repeat -224px -1px;
  width: 76px;
  height: 108px; }

.sprite_play {
  background: url("img/videocontrols.svg") no-repeat 99.038% 0.248%;
  background-size: 256px 256px;
  width: 48px;
  height: 54px; }

.panel {
  width: 100%;
  height: 40px;
  background: white;
  margin-top: 25px; }

#play, #back, #next, #pause {
  float: left;
  width: 5%;
  height: 40px; }

#time {
  float: left;
  width: 5%;
  height: 40px;
  color: #000000;
  padding-top: 10px;
  margin-left: 10px; }

#line {
  margin-top: 15px;
  height: 4px;
  width: 50%;
  background: #d9d9d9;
  float: left;
  margin-right: 15px;
  cursor: pointer; }

#videoFader {
  background: black;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 4;
  bottom: 3px;
  cursor: pointer; }

.viewed {
  position: absolute;
  background: black;
  height: 4px;
  cursor: pointer; }

#volume_line {
  margin-top: 15px;
  height: 4px;
  width: 13%;
  background: #d9d9d9;
  float: left;
  margin-right: 15px;
  cursor: pointer; }

#volume_fader {
  background: black;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 4;
  bottom: 3px;
  cursor: pointer; }

.volume_level {
  position: absolute;
  background: black;
  height: 4px;
  cursor: pointer; }

.video_controls {
  transition: 0.3s;
  cursor: pointer; }

@media screen and (max-width: 1200px) {
  .video_controls {
    transform: scale(0.8, 0.8);
    width: 80%; } }
.video_controls:hover {
  transform: scale(1.15, 1.15);
  transition: 0.4s; }

.video_controls:active {
  transform: scale(0.95, 0.95);
  transition: 0.2s; }

.scene {
  min-height: 460px;
  position: absolute;
  overflow: hidden; }

.scene {
  min-height: 360px; }

.layer {
  top: 30% !important;
  left: 10% !important;
  display: block;
  height: 100%;
  width: 100%; }

.scene {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  height: 100vh; }

a {
  color: black; }

#showPhoto1 {
  opacity: 0;
  transition: all 1.2s ease-in; }

#logoID {
  opacity: 1;
  left: 300px !important;
  transition: all 1.2s ease-in; }

.container {
  width: 100vw;
  height: 100% !important; }

.logo {
  width: 284px;
  height: 87px;
  margin-top: 10%; }

@media screen and (max-width: 1200px) {
  .logo {
    width: 227px;
    height: 70px;
    margin-top: 28px;
    margin-left: 60px; } }
@media screen and (max-width: 992px) {
  .logo {
    width: 227px;
    height: 70px;
    margin-top: 5%;
    margin-left: 0px; } }
@media screen and (max-width: 768px) {
  .logo {
    width: 156px;
    height: 48px;
    margin-top: 5%;
    margin-left: 45px; } }
@media screen and (max-width: 576px) {
  .logo {
    width: 156px;
    height: 48px;
    margin-top: 5%;
    margin-left: 45px; } }
.facebooknewsbox {
  width: 630px;
  height: 45.8%;
  border-left: solid 1px;
  border-bottom: solid 1px; }

@media screen and (max-width: 1200px) {
  .facebooknewsbox {
    width: 540px;
    height: 45.8%; } }
@media screen and (max-width: 992px) {
  .facebooknewsbox {
    width: 415px;
    height: 45.8%; } }
.facebooknewstextbox {
  width: 475px;
  height: 35%;
  text-align: left;
  margin-top: 43px;
  margin-left: 64px; }

@media screen and (max-width: 1200px) {
  .facebooknewstextbox {
    width: 460px;
    margin-top: 18px;
    margin-left: 79px; } }
@media screen and (max-width: 992px) {
  .facebooknewstextbox {
    width: 305px;
    margin-top: 29px;
    margin-left: 59px; } }
.custombutton {
  width: 380.5px;
  height: 80%;
  border: solid 1px;
  margin-top: 3%;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
  display: flex; }

@media screen and (max-width: 1200px) {
  .custombutton {
    width: 305px;
    height: 37px;
    margin-top: 3%;
    margin-left: 20%; } }
@media screen and (max-width: 992px) {
  .custombutton {
    width: 295px;
    height: 36px;
    margin-top: 3%;
    margin-left: 20%; } }
.arrow_down {
  position: absolute;
  bottom: 35%;
  left: 50%; }

.ph-block {
  width: 725px;
  height: 277px; }

@media screen and (max-width: 1200px) {
  .ph-block {
    width: 620px;
    height: 237px; } }
.members {
  margin-top: 1%; }

.pic {
  width: 215px;
  height: 59px;
  object-fit: contain;
  margin-top: 23%; }

.video_pict {
  width: 179px;
  height: 113px; }

.title_little {
  display: inline-block;
  margin-top: 4%; }

.title_little_box {
  width: 250px;
  height: 42.8px;
  border: solid 0.8px #575757;
  text-align: center;
  vertical-align: middle; }

.foto {
  width: 100%;
  height: 100%; }

.sotial_networks {
  transition: all 0.9s ease-in; }

.sotial_networks:hover {
  transition: all 1.9s cubic-bezier(0.29, 0.26, 0.11, 1.58);
  transform: rotate(360deg); }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.icon {
  opacity: 0;
  transition: 1.2s;
  height: 100%; }

.repertuar_container {
  text-align: left;
  align-items: left !important;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 3.28;
  letter-spacing: 2.7px; }

.swiper-container2 {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
