.photo-band {
  max-height: 100%;
  max-width: 100%;
  align-items: right;
  align-items: top; }

@media screen and (max-width: 1200px) {
  .photo-band {
    height: 100%; } }
@media screen and (max-width: 992px) {
  .photo-band {
    height: 100%; } }
@media screen and (max-width: 768px) {
  .photo-band {
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: 0 30%; } }
.buben {
  height: 100%;
  object-fit: contain;
  bottom: 0; }

@media screen and (max-width: 1200px) {
  .buben {
    height: 100%; } }
@media screen and (max-width: 992px) {
  .buben {
    height: 100%; } }
@media screen and (max-width: 768px) {
  .buben {
    height: 100%; } }
.gallary_photo {
  max-height: 100%;
  max-width: 100%; }

/*# sourceMappingURL=photos.css.map */
