.line_logo
  margin-left: 109px
  margin-top: 19%

@media screen and (max-width: 1200px) 
  .line_logo
    margin-left: 155px
    margin-top: 19%

@media screen and (max-width: 992px) 
  .line_logo
    margin-left: 94px
    margin-top: 60px

@media screen and (max-width: 768px) 
  .line_logo
    margin-left: 110px
    margin-top: 35px

@media screen and (max-width: 576px) 
  .line_logo
    margin-left: 110px
    margin-top: 60px

.line 
  width: 57px
  height: 3px
  border: solid 2px #575757

@media screen and (max-width: 992px) 
  .line 
    width: 48px

.line2 
  width: 57px
  height: 3px
  border: solid 2px #575757
  margin-left: 45%
  margin-top: 8%

.linevertical
  width: 0.8px
  height: 42.1px
  border: solid 1.5px #000000
  margin-left: 35px
  margin-top: 55px
