.members1
  height: 50%
  margin-top: 1%
  visibility: visible
  transition: all .3s ease-in

.members2
  height: 50%
  margin-top: 1%
  visibility: visible
  transition: all .3s ease-in

.members3
  height: 50%
  margin-top: 1%
  visibility: visible
  transition: all .3s ease-in

.members4
  height: 50%
  margin-top: 1%
  visibility: visible
  transition: all .3s ease-in

.members5
  height: 50%
  margin-top: 1%
  visibility: visible
  transition: all .3s ease-in

.members6
  height: 50%
  margin-top: 1%
  visibility: visible
  transition: all .3s ease-in

.members:hover > .members1 
  opacity: 0.0
  transition: all .3s ease-in

.members:hover > .members2
  opacity: 0.0
  transition: all .3s ease-in

.members:hover > .members3 
  opacity: 0.0
  transition: all .3s ease-in

.members:hover > .members4
  opacity: 0.0
  transition: all .3s ease-in

.members:hover > .members5 
  opacity: 0.0
  transition: all .3s ease-in

.members:hover > .members6
  opacity: 0.0
  transition: all .3s ease-in

.members:hover > .members1:hover
  opacity: 1.0
  transition: all .3s ease-in

.members:hover > .members2:hover
  opacity: 1.0
  transition: all .3s ease-in

.members:hover > .members3:hover
  opacity: 1.0
  transition: all .3s ease-in

.members:hover > .members4:hover
  opacity: 1.0
  transition: all .3s ease-in

.members:hover > .members5:hover
  opacity: 1.0
  transition: all .3s ease-in

.members:hover > .members6:hover 
  opacity: 1.0
  transition: all .3s ease-in

.hide_member_info
  opacity: 1.0
  transition: all .3s ease-in

.member1_discription
  position: absolute
  top: 30%
  left: 30%
  width: 40%
  opacity: 0.0
  z-index: -1

@media screen and (max-width: 1200px) 
  .member1_discription
    width: 38%

.members1:hover ~ .member1_discription
  opacity: 1.0
  top: 10%
  transition: all .5s ease-in

.members1:hover > .hide_member_info
  opacity: 0.0
  transition: all .3s ease-in

.member2_discription
  position: absolute
  top: 64%
  left: 22%
  width: 30%
  opacity: 0.0
  z-index: -1

@media screen and (max-width: 1200px)
  .member2_discription
    top: 44%
    left: 5%

.members2:hover ~ .member2_discription
  opacity: 1.0
  top: 40%
  transition: all .5s ease-in

@media screen and (max-width: 1200px)
  .members2:hover ~ .member2_discription
    top: 20%

.members2:hover > .hide_member_info
  opacity: 0.0
  transition: all .3s ease-in

.member3_discription
  position: absolute
  top: 20%
  left: 30%
  width: 30%
  opacity: 0.0
  z-index: -1

.members3:hover ~ .member3_discription
  opacity: 1.0
  top: 30%
  transition: all .5s ease-in

.members3:hover > .hide_member_info
  opacity: 0.0
  transition: all .3s ease-in

.member4_discription
  position: absolute
  top: 10%
  left: 30%
  width: 30%
  opacity: 0.0
  z-index: -1

@media screen and (max-width: 1200px) 
  .member4_discription
    top: 0%

.members4:hover ~ .member4_discription
  opacity: 1.0
  top: 30%
  transition: all .5s ease-in

@media screen and (max-width: 1200px) 
  .members4:hover ~ .member4_discription
    top: 20%


.members4:hover > .hide_member_info
  opacity: 0.0
  transition: all .3s ease-in

.member5_discription
  position: absolute
  top: 8%
  left: 0%
  width: 30%
  opacity: 0.0
  z-index: -1

.members5:hover ~ .member5_discription
  opacity: 1.0
  top: 30%
  transition: all .5s ease-in

.members5:hover > .hide_member_info
  opacity: 0.0
  transition: all .3s ease-in

.member6_discription
  position: absolute
  top: 10%
  left: 25%
  width: 30%
  opacity: 0.0
  z-index: -1

.members6:hover ~ .member6_discription
  opacity: 1.0
  top: 30%
  transition: all .5s ease-in

.members6:hover > .hide_member_info
  opacity: 0.0
  transition: all .3s ease-in



.members1-ticker 
  display: none
  right: -200
  

.members1-ticker:checked ~ .members2
  opacity: 0.0 !important
  display: none !important
  display: block !important
  visibility: hidden !important

  


.members1-ticker:checked ~ .hidden-menu 



.members1-ticker:checked ~ .btn-menu span.first 



.members1-ticker:checked ~ .btn-menu span.second 



.members1-ticker:checked ~ .btn-menu span.third 
