.fader
  position: fixed
  background: transparent
  top: 0
  left: 0
  z-index: 0
  opacity: 0.4
  width: 100vw
  height: 100vh
  transition: 2s 

.hidden-menu 
  display: block
  position: fixed
  list-style:none
  padding: 10px
  margin: 0
  box-sizing: border-box
  width: 400px
  background-color: white
  height: 100%
  top: 0
  right: -400px
  transition: 0.7s
  z-index: 2
  -webkit-transform: translateZ(0)
  -webkit-backface-visibility: hidden
  z-index: 1100


.hidden-menu-ticker 
  display: none
  right: 200
  z-index: 1100


.btn-menu 
  color: black
  background-color: transparent
  padding: 5px
  position: absolute
  top: 5%
  right: 5%
  margin-right: 10%
  cursor: pointer
  transition: 0.23s
  z-index: 3
  width: 40px
  -webkit-transform: translateZ(0)
  -webkit-backface-visibility: hidden
  z-index: 1110


.btn-menu span 
  display: block
  height: 5px
  background-color: black
  margin: 5px 0 0
  transition: all .2s linear .23s
  position: relative

.btn-menu span.first 
  margin-top: 0

.hidden-menu-ticker:checked ~ .btn-menu 
  
.hidden-menu-ticker:checked ~ .hidden-menu 
  right: 0

.hidden-menu-ticker:checked ~ .fader
  display: block
  background: rgb(1,1,1)
  transition:  2s 
  z-index: 100





.hidden-menu-ticker:checked ~ .btn-menu span.first 
  -webkit-transform: rotate(45deg)
  top: 10px

.hidden-menu-ticker:checked ~ .btn-menu span.second 
  opacity: 0

.hidden-menu-ticker:checked ~ .btn-menu span.third 
  -webkit-transform: rotate(-45deg)
  top: -10px


.text-menu
  font-size: 100px
  font-weight: 200
  letter-spacing: 8.5px
  text-align: right
  color: #575757

.menu
  margin-top: 18%
  margin-left: 34px

@media screen and (max-width: 1200px) 
  .menu
    margin-top: 3%
    margin-left: 17%

@media screen and (max-width: 992px) 
  .menu
    margin-top: 0%
    margin-left: 17%
@media screen and (max-width: 768px) 
  .menu
    margin-top: 28px
    margin-left: 41px

.menu2
  margin-top: 18%
  margin-left: 1%

@media screen and (max-width: 1200px) 
  .menu2
    margin-top: 3%
    margin-left: 17%

@media screen and (max-width: 992px) 
  .menu2
    margin-top: 0%
    margin-left: 17%

@media screen and (max-width: 768px) 
  .menu2
    margin-top: 0%
    margin-left: 46px

