
.move_text
	transition: all .2s ease-in
	cursor: pointer 

.move_text:hover
	letter-spacing: 15.4px
	cursor: pointer
	transition: all .2s ease-in

.move_left
	position:  relative !important
	width: 100% 
	left: -250% 
	transition: all 1.2s ease-in 

.move_left_slower
	position:  relative !important
	width: 100% 
	left: -250% 
	transition: all 2.0s ease-in

.move_left_slowest
	position: relative !important
	width: 100% 
	left: -250% 
	transition: all 2.4s ease-in

.move_left_slow
	position:  relative !important
	width: 100% 
	left: -250% 
	transition: all 1.6s ease-in 

.move_left_fast
	position:  relative !important
	width: 100% 
	left: -250% 
	transition: all 0.7s ease-in 

.move_bottom
	position: absolute !important
	top: 750% 
	transition: all 2.0s ease-in 

.move_bottom_slow
	position: absolute !important
	top: 750% 
	transition: all 2.4s ease-in

.move_bottom_fast
	position: absolute !important
	top: 750% 
	transition: all 1.6s ease-in  

.move_bottom_faster
	position: absolute !important
	top: 750% 
	transition: all 1.2s ease-in 

.move_right
	position: relative !important
	width: 100% 
	right: -250% 
	transition: all 1.2s ease-in 


.move_right_slow
	position: relative !important
	width: 100% 
	right: -250% 
	transition: all 1.6s ease-in 

.move_right_slower 
	position: relative !important
	width: 100% 
	right: -250% 
	transition: all 2.0s ease-in 

.move_right_slowest
	position: relative !important
	width: 100% 
	right: -250% 
	transition: all 2.4s ease-in 

.move_right_fast
	position: relative !important
	width: 100% 
	right: -250% 
	transition: all 0.8s ease-in 

.move_top
	position: relative !important
	width: 100% 
	top: -250%
	transition: all 1.2s ease-in 


