/* Font Family ================================================== */

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700')


/* Global Styles ================================================== */

.music_body 
	-webkit-font-smoothing: antialiased
	-webkit-text-size-adjust: 100%
	font-size: 105%
	font-family: "Oxygen", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
	font-weight: 300
	letter-spacing: .025rem
	line-height: 1.618
	padding: 1rem 0


* 
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent



/* Setup ================================================== */

.music_container  
	position: relative 
	margin: 0 auto
	max-width: 945px
	width: 100%
	height: 100%

.music_column 
	width: inherit


/* Typography / Links ================================================== */

.music p 
	color: #000
	display: block
	font-size: .9rem
	font-weight: 400
	margin: 0 0 2px

.music p a 
	line-height: inherit
	&:visited 
		line-height: inherit

/* Misc. ================================================== */

.add-bottom
	margin-bottom: 2rem !important

.left 
	float: left

.right 
	float: right

.center 
	text-align: center


/* Audio Player Styles ================================================== */

audio 
	margin: 0 15px 0 14px
	width: 810px

@media screen and (max-width: 1200px) 
	audio
		width: 620px

@media screen and (max-width: 992px)
	audio
		width: 420px

@media screen and (max-width: 768px) 
	audio 

@media screen and (max-width: 576px) 
	audio 

#mainwrap 

#audiowrap,
#plwrap 
	margin: 0 auto


#tracks 
	position: relative
	text-align: center


#nowPlay 
	display: inline


#npAction 
	padding: 21px
	position: absolute


#npTitle 
	padding: 21px


#plList li 
	cursor: pointer
	display: block
	margin: 0
	padding: 21px 0


#plList li:hover
	background-color: rgba(0,0,0,.1)


.plItem 
	position: relative


.plTitle 
	left: 50px
	overflow: hidden
	position: absolute
	right: 65px
	text-overflow: ellipsis
	top: 0
	white-space: nowrap


.plNum 
	padding-left: 21px
	width: 25px


.plLength 
	padding-left: 21px
	position: absolute
	right: 21px
	top: 0


.plSel, .plSel:hover 
	background-color: rgba(0,0,0,.1)
	color: #fff
	cursor: default !important


a[id^="btn"] 
	border-radius: 3px
	color: #fff
	cursor: pointer
	display: inline-block
	font-size: 2rem
	height: 35px
	line-height: .8
	margin: 0 20px 20px
	padding: 5px 10px
	text-decoration: none
	transition: background .3s ease
	width: 35px


a[id^="btn"]:last-child 
	margin-left: -4px


a[id^="btn"]:hover,
a[id^="btn"]:active 
	background-color: rgba(0,0,0,.1)
	color: #fff


a[id^="btn"]::-moz-focus-inner 
	border: 0
	padding: 0



/* Plyr Overrides ================================================== */

.plyr--audio .plyr__controls 
	background-color: transparent
	border: none
	color: #fff
	padding: 20px 20px 20px 13px
	width: 100%


.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large 
	background: rgba(0,0,0,.1)


.plyr__progress--played, .plyr__volume--display 
	color: rgba(0,0,0,.1)


.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display 
	background: rgba(0,0,0,.1)


.plyr--audio .plyr__progress--buffer 
	color: rgba(0,0,0,.1)



/* Media Queries ================================================== */

@media only screen and (max-width:850px) 
	#nowPlay  
		display: none 

