.scene
	min-height: 460px
	position: absolute
	overflow: hidden

@media (min-width: 400px)
.scene 
	min-height: 360px

.layer 
	top: 30% !important
	left: 10% !important
	display: block
	height: 100%
	width: 100%

.scene
	display: block
	height: 100%
	width: 100%
	padding: 0
	margin: 0

