.photo-band 
  max-height: 100%
  max-width: 100%
  align-items: right
  align-items: top

@media screen and (max-width: 1200px)
  .photo-band 
    max-height: 100%
    margin-top: 0%

@media screen and (max-width: 992px)
  .photo-band 
    max-height: 100%

@media screen and (max-width: 768px)
  .photo-band 
    max-width: 100%
    max-height: 85%
    object-fit: cover
    object-position: 0 30%
    


.buben 
  height: 100%
  object-fit: contain
  bottom: 0
@media screen and (max-width: 1200px) 
  .buben
    height: 100%

@media screen and (max-width: 992px) 
  .buben
    height: 100%

@media screen and (max-width: 768px) 
  .buben
    height: 100%


.gallary_photo
  max-height: 100%
  max-width: 100%

.member_photo
  max-height: 70% !important