.panel 
	width: 100%
	height: 40px
	background: white
	margin-top: 25px

#play, #back, #next, #pause
	float: left
	width: 5%
	height: 40px

#time
	float: left
	width: 5%
	height: 40px
	color: #000000
	padding-top: 10px
	margin-left: 10px

#line
	margin-top: 15px
	height: 4px
	width: 50%
	background: #d9d9d9
	float: left
	margin-right: 15px
	cursor: pointer

#videoFader 
	background: black
	border-radius: 5px
	width: 10px
	height: 10px
	position: relative
	z-index: 4
	bottom: 3px
	cursor: pointer

.viewed 
	position: absolute
	background: black
	height: 4px
	cursor: pointer

#volume_line
	margin-top: 15px
	height: 4px
	width: 13%
	background: #d9d9d9
	float: left
	margin-right: 15px
	cursor: pointer

#volume_fader 
	background: black
	border-radius: 5px
	width: 10px
	height: 10px
	position: relative
	z-index: 4
	bottom: 3px
	cursor: pointer

.volume_level
	position: absolute
	background: black
	height: 4px
	cursor: pointer



.video_controls
	transition: 0.3s
	cursor: pointer

@media screen and (max-width: 1200px) 
	.video_controls
		transform: scale(0.8, 0.8)
		width: 80%

.video_controls:hover
	transform: scale(1.15, 1.15)
	transition: 0.4s

.video_controls:active
	transform: scale(0.95, 0.95)
	transition: 0.2s
