.firstpage_row1
	height: 62.82%

.logo_row
	height: 50.21%
    

.firstpage_row2
	height: 37.18%

.col-logo
	height: 45.8%


.div_photo_band
	height: 54.2%
	text-align: right

.div_menu_smallscreens

@media screen and (max-width: 1200px) 
	.div_menu_smallscreens
		position: relative
		display: inline-block
		margin: -5em 0 0% !important

.secondpage_row1
	height: 19.72%
   
.secondpage_row2
	height: 17.98%

.secondpage_row3
	height: 28.86%
   
.secondpage_row4
	height: 8.68%

.thirdpage_row1
	height: 16.74%
   
.thirdpage_row2
	height: 37.10%
	margin-top: 1.92%
	position: relative

.thirdpage_row3
	height: 28.21%
	margin-top: 6.92%
	position: relative

.fourpage_row1
	height: 16.74%
   
.fourpage_row2
	height: 80.0%
	margin-top: 1.92%

.thirdpage_row3
	height: 28.21%
	margin-top: 6.92%

.fivepage_row1
	height: 16.74%
   
.fivepage_row2
	height: 80.00%

.fivepage_row3
	height: 65.40%
	margin-top: 3.92%

.div_title
	height: 100%

.sixpage_row1
	height: 10.74%
   
.sixpage_row2
	height: 10.00%

.sixpage_row3
	height: 75.40%

.page7_row1
	height: 10.74%
   
.page7_row2
	height: 80.40%

.page8_row1
	height: 16.74%
   
.page8_row2
	height: 12.00%

.page8_row3
	height: 5.40%

.page8_row4
	height: 20.40%

.page8_row5
	height: 5.40%

.page8_row6
	height: 25.40%

.about_row1
	height: 20%

.about_row2
	height: 18%

.about_row3
	height: 40%