

.medium_text
  font-size: 18px
  font-weight: 300
  line-height: 1.46
  letter-spacing: 5px

@media screen and (max-width: 1200px) 
  .medium_text
    font-size: 16px
    font-weight: 300
    line-height: 1.64
    letter-spacing: 5px

@media screen and (max-width: 992px) 
  .medium_text
    font-size: 14px
    font-weight: 300
    line-height: 1.64
    letter-spacing: 4px

.button_text
  font-size: 18px
  font-weight: 200
  letter-spacing: 12px
  vertical-align: middle

@media screen and (max-width: 1200px) 
  .button_text
    font-size: 14.4px
    letter-spacing: 8.8px

@media screen and (max-width: 992px) 
  .button_text
    font-size: 14px
    letter-spacing: 8.4px

.button_text:hover
  letter-spacing: 18px
  transition: all .5s ease-in

.fcb_text:hover
  letter-spacing: 11px !important
  transition: all .5s ease-in !important
 

.menu_text
  font-size: 20px
  font-weight: 300
  letter-spacing: 6.4px
  text-align: left
  color: #575757
  line-height: 2.5
@media screen and (max-width: 1200px) 
  .menu_text
    font-size: 16px
    letter-spacing: 5.7px
    line-height: 2

@media screen and (max-width: 992px) 
  .menu_text
    font-size: 14px
    letter-spacing: 6px
    line-height: 1.5


.title
  font-size: 10vh
  font-weight: 200
  letter-spacing: 8.5px
  text-align: left
  color: #575757
@media screen and (max-width: 1200px) 
  .title
    font-size: 10vh
    letter-spacing: 8.6px
@media screen and (max-width: 768px) 
  .title
    font-size: 60px
    letter-spacing: 8.7px

.newstext
  font-size: 18px
  font-weight: 300
  letter-spacing: 5px
  text-align: left
  color: #000000
  margin-bottom: 15%
  margin-top: 5%
@media screen and (max-width: 1200px) 
  .newstext
    font-size: 16px
    letter-spacing: 4px


.discription_text
  font-size: 20px
  font-weight: 300
  line-height: 1.6
  letter-spacing: 6px
  text-align: justify

@media screen and (max-width: 1200px) 
  .discription_text
    font-size: 16px
    line-height: 1.75
    letter-spacing: 3.1px

@media screen and (max-width: 992px) 
  .discription_text
    font-size: 14px
    line-height: 1.4
    letter-spacing: 2.1px


.about_titles_text
  font-size: 20px
  font-weight: 300
  letter-spacing: 0.9px
  text-align: left
  color: #020202    
  margin-top: 2%
@media screen and (max-width: 1200px) 
  .about_titles_text
    font-size: 18px
    letter-spacing: 0.8px

@media screen and (max-width: 992px) 
  .about_titles_text
    font-size: 13px
    letter-spacing: 0.7px

.about_discriptions_text
  font-size: 18px
  font-weight: 200
  line-height: 1.3
  letter-spacing: 2.7px
  text-align: left
  color: #000000
  margin-top: 3%
@media screen and (max-width: 1200px) 
  .about_discriptions_text
    font-size: 16px
    line-height: 1.08
    letter-spacing: 2.4px

@media screen and (max-width: 992px) 
  .about_discriptions_text
    font-size: 13px
    line-height: 1
    letter-spacing: 2px

.little_title_text
  font-size: 15px
  font-weight: 200
  letter-spacing: 8.5px

.contacts_text
  font-size: 3vh
  font-weight: 200
  line-height: 5vh
  letter-spacing: 10px
  text-align: left

.repertuar
  font-size: 2.5vh
  font-weight: 200
  letter-spacing: 11.4px
  text-align: center
  margin-right: 5%

.repertuar:hover
  text-transform: uppercase
  transition: all .2s ease-in

.name_title
  font-size: 3vh

@media screen and (max-width: 1200px) 
  .name_title
    font-size: 3vh 

@media screen and (max-width: 992px) 
  .name_title
    font-size: 3vh

.instruments_title
  font-size: 2.3vh

@media screen and (max-width: 1200px)
  .instruments_title
    font-size: 2.6vh

@media screen and (max-width: 992px) 
  .instruments_title
    font-size: 2.6vh

.member_discription
  font-size: 2.0vh

@media screen and (max-width: 1200px) 
  .member_discription
    font-size: 2.3vh

@media screen and (max-width: 992px) 
  .member_discription
    font-size: 2.3vh
