.video
    height: 0
    position: relative
    padding-bottom: 56.25%
								
.video iframe 
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

.scroll
    overflow-y: auto
    height: 100%
    overflow-x: hidden

.video-fader
    position: absolute
    background: transparent
    top: 0
    left: 0
    z-index: 0
    opacity: 0.4
    width: 100%
    height: 100%
    transition: 2s 

.thumb
    height: 100%
    position: relative
    padding-bottom: 56.25%

.thumb img 
    position: absolute
    object-fit: cover
    left: 0
    top: 0
    width: 100%
    height: 100%
    transition: 1.2s
    cursor: pointer

.thumb img:hover
    transition: 2s
    transform: scale(1.05, 1.05)

.playlist_item
    margin-top: 4%
    height: 32%

.video_text
    white-space: nowrap

.sprite_pause 
    background: url('img/videocontrols.svg') no-repeat -224px -1px
    width: 76px
    height: 108px

.sprite_play
    background: url('img/videocontrols.svg') no-repeat 99.038% 0.248%
    background-size: 256px 256px
    width: 48px
    height: 54px

