@import "colors"
@import "texts"
@import "rows" 
@import "lines"
@import "menu"
@import "members"
@import "music"
@import "move"
@import "id"
@import "photos"
@import "video"
@import "player"
@import "paralax"

body
  background-color: $body-bg
  font-family: 'Source Sans Pro', sans-serif
  font-style: normal
  font-stretch: normal
  line-height: normal
  height: 100vh

a
  color: black

#showPhoto1
  opacity: 0
  transition: all 1.2s ease-in

#logoID
  opacity: 1
  left: 300px !important
  transition: all 1.2s ease-in

.container
  width: 100vw
  height: 100% !important
 
.logo 
  width: 284px
  height: 87px
  margin-top: 10%

@media screen and (max-width: 1200px) 
  .logo 
    width: 227px
    height: 70px
    margin-top: 28px
    margin-left: 60px

@media screen and (max-width: 992px) 
  .logo 
    width: 227px
    height: 70px
    margin-top: 5%
    margin-left: 0px

@media screen and (max-width: 768px) 
  .logo 
    width: 156px
    height: 48px
    margin-top: 5%
    margin-left: 45px

@media screen and (max-width: 576px) 
  .logo 
    width: 156px
    height: 48px
    margin-top: 5%
    margin-left: 45px

.facebooknewsbox
  width: 630px
  height: 45.8%
  border-left: solid 1px 
  border-bottom: solid 1px 

@media screen and (max-width: 1200px) 
  .facebooknewsbox
    width: 540px
    height: 45.8%
@media screen and (max-width: 992px) 
  .facebooknewsbox
    width: 415px
    height: 45.8%

.facebooknewstextbox
  width: 475px
  height: 35%
  text-align: left
  margin-top: 43px
  margin-left: 64px

@media screen and (max-width: 1200px) 
  .facebooknewstextbox
    width: 460px
    margin-top: 18px
    margin-left: 79px

@media screen and (max-width: 992px) 
  .facebooknewstextbox
    width: 305px
    margin-top: 29px
    margin-left: 59px

.custombutton
  width: 380.5px
  height: 80%
  border: solid 1px 
  margin-top: 3%
  margin-left: 20%
  align-items: center
  justify-content: center
  display: flex

@media screen and (max-width: 1200px) 
  .custombutton
    width: 305px
    height: 37px
    margin-top: 3%
    margin-left: 20%
@media screen and (max-width: 992px) 
  .custombutton
    width: 295px
    height: 36px
    margin-top: 3%
    margin-left: 20%

    
.arrow_down
  position: absolute
  bottom: 35%
  left: 50%

.ph-block
  width: 725px
  height: 277px
@media screen and (max-width: 1200px) 
  .ph-block
    width: 620px
    height: 237px

.members
  margin-top: 1%

.pic 
  width: 215px
  height: 59px
  object-fit: contain
  margin-top: 23%

.video_pict
  width: 179px
  height: 113px

.title_little
  display: inline-block
  margin-top: 4%

.title_little_box
  width: 250px
  height: 42.8px
  border: solid 0.8px #575757
  text-align: center
  vertical-align: middle

.foto 
  width: 100%
  height: 100%

.sotial_networks
  transition: all .9s ease-in

.sotial_networks:hover
  transition: all 1.9s cubic-bezier(0.29, 0.26, 0.11, 1.58)
  transform: rotate(360deg)


.swiper-container
  width: 100%
  height: 100%
    
.swiper-slide 
  text-align: center
  font-size: 18px
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center

.icon
  opacity: 0
  transition: 1.2s
  height: 100%

.repertuar_container
  text-align: left
  align-items: left !important
  height: 100%
  width: 100%
  overflow-y: auto
  font-family: 'Source Sans Pro', sans-serif
  font-size: 18px
  font-weight: 200
  line-height: 3.28
  letter-spacing: 2.7px

.swiper-container2
  margin: 0 auto
  position: relative
  overflow: hidden
  list-style: none
  padding: 0
  z-index: 1
  width: 100%
  height: 100%

